DATABASES = {
    'default': {
        'ENGINE': "django.db.backends.postgresql",
        'NAME': "{{ params.db_name }}",
        'USER': "{{ params.db_user_login }}",
        'PASSWORD': "{{ params.db_user_password }}",
        'HOST': "{{ params.db_host }}',
        'PORT': "{{ params.db_port }}',
    }
}
